/*
  The Love Theme CSS Custom Properties
  https://love.holllo.cc - version 0.1.0
  MIT license
*/

.love {
  /* Love Dark */
  --df-1: #f2efff;
  --df-2: #e6deff;
  --db-1: #1f1731;
  --db-2: #2a2041;
  --da-1: #f99fb1;
  --da-2: #faa56c;
  --da-3: #d2b83a;
  --da-4: #96c839;
  --da-5: #3bd18a;
  --da-6: #3ecdbf;
  --da-7: #41c8e5;
  --da-8: #98b9f8;
  --da-9: #d5a6f8;
  --da-10: #f99add;
  --dg-1: #e2e2e2;
  --dg-2: #c6c6c6;
  --dg-3: #ababab;

  /* Love Light */
  --lf-1: #1f1731;
  --lf-2: #2a2041;
  --lb-1: #f2efff;
  --lb-2: #e6deff;
  --la-1: #8b123c;
  --la-2: #6a3b11;
  --la-3: #514610;
  --la-4: #384d10;
  --la-5: #115133;
  --la-6: #124f49;
  --la-7: #144d5a;
  --la-8: #17477e;
  --la-9: #6f1995;
  --la-10: #81156a;
  --lg-1: #1b1b1b;
  --lg-2: #303030;
  --lg-3: #474747;
}
